
<div id="Billing">
	<table class="tablesorter-metro" cellspacing="1">
		<thead>
			<tr class="dark-row" role="row">

				<th class="tablesorter-header" data-column="0" unselectable="on">
					<div class="tablesorter-header-inner">Usage start Time</div>
				</th>

				<th class="tablesorter-header" data-column="1" unselectable="on">
					<div class="tablesorter-header-inner">Cost</div>
				</th>
				<th class="tablesorter-header" data-column="2" unselectable="on">
					<div class="tablesorter-header-inner">Resource ID</div>
				</th>
			</tr>
		</thead>
		<tbody id="BillingData">
		{{#each billingMetrics}}
			<tr class="tablesorter-body">
				<td>{{this.UsageStartDate}}</td>
				<td>{{this.Cost}}</td>
				<td>{{this.ResourceId}}</td>
			</tr>
		{{/each}}
		</tbody>	
	</table>

</div> 
