<div class="slider">
<form action="/api/credentials/setCredentials/" method="post">
{{#each pages}}
<div></div>
{{this.title}}<br>: <input type="text"> 
<br>
{{/each}}
<input type="submit" value="Submit">
</form>
</div>