
<div class="CPU">
	<table class="tablesorter" cellspacing="1">
		<thead>
			<tr class="tablesorter-headerRow" role="row">
				<th class="tablesorter-header" data-column="0" unselectable="on">
					<div class="tablesorter-header-inner">Instance ID</div>
				</th>
				<th class="tablesorter-header" data-column="1">
					<div class="tablesorter-header-inner">CPU Usage</div>
				</th>

			</tr>
		</thead>
		<tbody id="cpuData">
		{{#each cpuMetrics}}
			<tr class="tablesorter-body">
				<td>{{this.instance}}</td>
				<td>{{this.cpu}}</td>

			</tr>
		{{/each}}
		</tbody>	
	</table>

</div>