
<div id="NetIn">
	<table id="NetInTable" class="tablesorter-metro" cellspacing="1">
		<thead>
			<tr class="dark-row" role="row">
				<th class="tablesorter-header" data-column="0">
					<div class="tablesorter-header-inner">Instance ID</div>
				</th>
				<th class="tablesorter-header" data-column="1">
					<div class="tablesorter-header-inner">Net In Usage</div>
				</th>
			</tr>
		</thead>
		<tbody id="NetInData">
		{{#each networkInMetrics}}
			<tr class="tablesorter-body">
				<td>{{this.instance}}</td>
				<td>{{this.networkIn}}</td>

			</tr>
		{{/each}}
		</tbody>	
	</table>

</div> 
