<div id="productcostcontainer"></div>

<!-- <div>
	<table id="BillingTable" class="tablesorter-metro" cellspacing="1">
		<thead>
			<tr class="dark-row" role="row">

				<th class="tablesorter-header" data-column="2" unselectable="on">
					<div class="tablesorter-header-inner">Resource ID</div>
				</th>
				<th class="tablesorter-header" data-column="0" unselectable="on">
					<div id="time" class="tablesorter-header-inner">Cost</div>
				</th>
			</tr>
		</thead>
		<tbody id="billingData">
		{{#each product}}
			<tr class="tablesorter-body">
				<td>{{this.productName}}</td>
				<td>{{this.cost}}</td>				
			</tr>
		{{/each}}
		</tbody>	
	</table>
</div> -->