.content-view {
	// border: 5px black solid;
	position: relative;
	display: block;
	top: @headerHeight;
	// margin-top:70px;
	// width: 1060px;
	margin: 0 auto;
	// margin-top: 70px;
    // overflow-y: scroll;
	// height: 600px; /* or desired height */
   overflow-y: scroll;
}