.HeaderView {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 auto;
	height: @headerHeight;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ccc;
	box-shadow: #e6e6e6 0 1px 3px;
}


.setting {
	// border: 1px solid red;
	// position: relative;
	top: 0;
	// margin: 0 auto;
	// width: 60px;
	height: @headerHeight;
	font-size: 20px;
	width: 60px;
	// padding-right: 30px;
	vertical-align: middle;

	text-align:center;
	line-height: @headerHeight;
	// margin-left: auto;
	float:right;
	&:hover {
		color: orange;
		cursor:pointer;

    }
}

#settings-tooltip {
		// border: 1px solid black;
	// position: relative;
	top: 0;
	// margin: 0 auto;
	// width: 60px;
	height: @headerHeight;
	font-size: 20px;
	width: 60px;
	// padding-right: 30px;
	vertical-align: middle;

	text-align:center;
	line-height: @headerHeight;
	// margin-left: auto;
	float:right;
}
.menu {
	float: left;
	position: absolute;
	top:0;
	width: 48px;
	height: @headerHeight;
	font-size: 20px;
	padding-left: 25px;
	text-align: left;
	line-height: @headerHeight;
	vertical-align: middle;

	&:hover {
		color: orange;
			cursor:pointer;

    }
}

.budget:before{
	// border: 1px solid black;
	font-family: FontAwesome;
	content: "\f155";
	font-size: 20px;
	float:right;
	text-align:center;
	margin-top: 0;
	height: @headerHeight;
	width: 60px;
	// padding-right: 25px;
	line-height: @headerHeight;
	vertical-align: middle;
}

.budget {
	&:hover {
		color: orange;
			cursor:pointer;

    }
}

#cost-tooltip {
		// border: 1px solid black;
	// font-family: FontAwesome;
	// content: "\f155";
	// font-size: 20px;
	float:right;
	// text-align:center;
	// margin-top: 0;
	height: @headerHeight;
	width: 60px;
	// padding-right: 25px;
	line-height: @headerHeight;
	// vertical-align: middle;
}

.timeBudgets:before{
	// border: 1px solid black;
	font-family: FontAwesome;
	content: "\f017";
	font-size: 20px;
	float:right;
	text-align:center;
	margin-top: 0;
	height: @headerHeight;
	width: 60px;
	// padding-right: 25px;
	line-height: @headerHeight;
	vertical-align: middle;
}

.timeBudgets {
	&:hover {
		color: orange;
			cursor:pointer;

    }
}

#time-tooltip {
			// border: 1px solid black;
	// font-family: FontAwesome;
	// content: "\f155";
	// font-size: 20px;
	float:right;
	// text-align:center;
	// margin-top: 0;
	height: @headerHeight;
	width: 60px;
	// padding-right: 25px;
	line-height: @headerHeight;
	// vertical-align: middle;
}

.notify {
	// position: absolute;
	// top: 17px;
	// border: 1px solid black;
	float: right;
	vertical-align: middle;
	text-align:center;
	line-height: @headerHeight;
	width: 60px;
	font-size: 20px;
	height: @headerHeight;

	&:hover {
		color: orange;
			cursor:pointer;

    }

}

.mdl-badge {
	top: 2.9em;
	right: 0.9em;
	font-size: 5px;
	// padding-right: 27px;
	// border: 1px solid black;
	float: right;
	// vertical-align: middle;
	// text-align:left;
	// line-height: 58px;
	// width: 20px;
	z-index: 5;

}

