.HeaderView {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 auto;
	height: 48px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ccc;
	box-shadow: #e6e6e6 0 1px 3px;

}

.setting:before{
	font-family: FontAwesome;
	content: "\f013";
	font-size: 20px;
	float:right;
	text-align:right;
	margin-top: 0;
	height: 48px;
	margin-right: 30px;
	line-height: 48px;
	vertical-align: middle;
}

.setting {
	&:hover {
		color: orange;
    }
}
.menu {
	position: absolute;
	top:0;
    font-size: 16px;
	width: 90px;
	height: 48px;
	border-right: 1px solid #ccc;
	margin-left: 30px;
	line-height: 48px;
	vertical-align: middle;

	&:hover {
		color: orange;
    }
}

.budget:before{
	font-family: FontAwesome;
	content: "\f155";
	font-size: 20px;
	float:right;
	text-align:right;
	margin-top: 0;
	height: 48px;
	margin-right: 30px;
	line-height: 48px;
	vertical-align: middle;
}

.budget {
	&:hover {
		color: orange;
    }
}
