.IAMUsersView {
	// float: left;
	// width: 47%;
	margin-left: 20px;
	width: @mainWidth;
	margin: 0 auto;
} 

div#budgetUsageContainer {
	// width: 47%;
	// margin: 20px;

}

div#budgetCostContainer {
	// width: 47%;
	// margin: 20px;

}