.MeterView {
	// border: 1px black solid;
	font-family: 'Roboto', sans-serif;
    font-size: 14px;
	position: absolute;
	left: 100px;
	padding-top: 4px;
	// width: 175px;

}

.rate {
	// border: 1px blue solid;
	padding-right: 15px;
	float: left;
	width: 75px;
	&:hover {
		color: orange;
    }
}

.usage {
	// border: 1px red solid;
	float: left;
	padding-left: 10px;
	width: 70px;
	&:hover {
		color: orange;
    }
}

.balance {
	// border: 1px green solid;
	float: left;
	padding-left: 10px;
	width: 75px;
	&:hover {
		color: orange;
    }
}