@smallScreenHeight: 600px;

@import url(http://fonts.googleapis.com/css?family=Roboto:700,300,400);
@import "style.less";
@import "AppView.less";
@import "InstancesView.less";
@import "MetricsView.less";
@import "BillingView.less";
@import "NonFreeBillingView.less";
@import "table.less";

body {
	font-family: 'Roboto', sans-serif;
}

.chart {
    height: 200px;
}

.spacer {
    height: 20px;
}

