@smallScreenHeight: 600px;

@import url(http://fonts.googleapis.com/css?family=Roboto);
@import "AppView.less";
@import "BillingView.less";
@import "RDSBillingView.less";
@import "RDSMetricsView.less";
@import "MetricsView.less";
@import "ProductCostView.less";
@import "EC2CostView.less";
@import "InstancesView.less";
<<<<<<< HEAD
@import "NonFreeBillingView.less";

=======
@import "OperationsView.less";
>>>>>>> 8991a0dd62724169ac00990628ee8c9ed5f5bd9c

body {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
	background-image: url("../resources/agsquare.png");
}



