.InstancesView {
	min-height: 350px;
	// height: auto;
	// position: static !important;
	
}

.RDSInstancesView {
	min-height: 350px;
	// height: auto;
	// position: static !important;
	
}


#InstanceTable_wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 5px;
	/*border: 1px solid gray;*/

}

.dataTables_wrapper {
	// position: static !important; 
}

#RDSInstanceTable_wrapper {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
	padding: 5px;
	/*border: 1px solid gray;*/

}