.InstancesView {

	table, th, td {
	    border: 1px solid black;
	    border-collapse: collapse;
	    background-color: #CCCCA3;
	}
	th, td {
	    padding: 5px;
	    text-align: center;
	}
}

	html,body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
  }

#EC2 {
	width: auto;
	padding: 10px;
}