.InstancesView {

	table, th, td {
	    border: 1px solid black;
	    border-collapse: collapse;
	    background-color: #CCCCA3;
	}
	th, td {
	    padding: 5px;
	    text-align: center;
	}
}
.instances {
	padding: 10px;
}

.cpu {
	padding: 10px;
	float: left;
}
.networkin {
	padding: 10px;
	float: left;
}
.networkout {
	padding: 10px;
}
	html,body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
  }
