.MetricsView {
	margin: 0;
	position: static !important;

/*	border-style: solid;
	border-color: red;*/
}
#cpuContainer{
	width: 47%;
	margin-right: 20px;
/*	border-style: solid;
	border-color: black;*/
	float: right;
}
#networkContainer{
	width: 47%;
	margin-left: 20px;
/*	border-style: solid;
	border-color: green;*/
	float:left;
}
.clear {
	clear: both;
}