.OperationsView {
	margin: 0 auto;
	width: 1060px;
/*	border-style: dashed;
	border-color: yellow;*/
	background-color: white;
}

div#operationscontainer {
	width : 47%;
	margin-right: 20px;
	float: right;
/*	border-style: dashed;
	border-color: blue;*/
}
