.RDSMetricsView {
    margin: 0;
    padding-bottom: 20px;
    // border: 1px solid blue;
}
#rdsCpuContainer{
    width: 47%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    // border: 1px solid yellow;
    float: right;
}
#queueDepthContainer{
    width: 47%;
    margin-left: 20px;
    margin-top: 20px;
    // border: 1px solid black;
    float: left;
}
#readWriteIopsContainer{
    width: 47%;
    margin-left: 20px;
    margin-top: 20px;
    // border-style: solid;
    // border-color: green;
    float: right; 
}
.clear {
    clear: both;
}
