@import url(http://fonts.googleapis.com/css?family=Roboto);
html {
  background-color: white;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.content-view {
  display: block;
  margin-top: 70px;
}
.NavView {
  position: absolute;
  left: -318px;
  width: 318px;
  transition: left 0.2s;
  top: 68px;
  background-color: #ededed;
}
.NavView.visible {
  left: 0;
  transition: left 0.2s;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
}
.NavView .page {
  padding: 5px;
  /*border: 1px dashed black;*/
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin-left: 22px;
  vertical-align: middle;
  line-height: 30px;
}
.NavView .page:hover {
  color: orange;
}
.highcharts-container {
  position: static !important;
}
.subpage {
  padding: 10px;
  padding-top: 0;
  /*border: 1px dashed black;*/
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-left: 42px;
  vertical-align: middle;
  line-height: 30px;
}
.subpage:hover {
  color: orange;
}
.BillingView {
  /*	border-style: solid;
	border-color: blue;	*/
}
div#billingcontainer {
  margin: 20px;
  /*border-style: solid;
	border-color: black;	*/
}
.MetricsView {
  margin: 0;
  position: static !important;
  /*	border-style: solid;
	border-color: red;*/
}
#cpuContainer {
  width: 47%;
  margin-right: 20px;
  /*	border-style: solid;
	border-color: black;*/
  float: right;
}
#networkContainer {
  width: 47%;
  margin-left: 20px;
  /*	border-style: solid;
	border-color: green;*/
  float: left;
}
.clear {
  clear: both;
}
.ProductCostView {
  margin: 0 auto;
  margin-top: 70px;
  width: 1060px;
  background-color: white;
}
div#productcostcontainer {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
.EC2CostView {
  /*	border-style: solid;
	border-color: red;*/
}
#ec2CostContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  /*	border-style: solid;
	border-color: black;*/
}
#InstanceTable_wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding: 5px;
  /*border: 1px solid gray;*/
}
.HeaderView {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0 auto;
  height: 68px;
  background-color: #ededed;
  border-bottom: 1px solid #aaa;
}
.setting:before {
  font-family: FontAwesome;
  content: "Setup \f013";
  font-size: 16px;
  float: right;
  text-align: right;
  margin-top: 0;
  height: 68px;
  margin-right: 30px;
  line-height: 68px;
  vertical-align: middle;
}
.setting:hover {
  color: orange;
}
.menu {
  position: absolute;
  top: 0;
  z-index: 1;
  font-size: 16px;
  width: 80px;
  height: 68px;
  border-right: 1px solid #aaa;
  margin-left: 30px;
  background-color: #ededed;
  line-height: 68px;
  vertical-align: middle;
}
.menu:hover {
  color: orange;
}
.FooterView {
  background-color: #ededed;
  /*background-color: red;*/
  border-top: 1px solid #aaa;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Height of the footer */
}
