{{!-- <div class="container"> --}}

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create Budget Profile</h4>
			</div>
			<div class="modal-body">
				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">Name </label>
						<input type="text" id="" value="e.g., 'Monthly EC2 Budget'">
					</div>
				</div>


				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">Include costs related to </label>
						<select>
							<option value="" disabled selected>Select</option>
							<option value="1">Option 1</option>
							<option value="2">Option 2</option>
							<option value="3">Option 3</option>
						</select>
					</div>
				</div>

				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">Start date </label>
						<input type="text" id="" value="2015-10-31">
					</div>
				</div>

				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">End date </label>
						<input type="text" id="" value="2015-10-31">
					</div>
				</div>

				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">Monthly Amount </label>
						<input type="text" id="" value="USD">
					</div>
				</div>


				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">Stop resource(s) when quota reached </label>
						<div class="onoffswitch">
							<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
							<label class="onoffswitch-label" for="myonoffswitch">
								<span class="onoffswitch-inner"></span>
								<span class="onoffswitch-switch"></span>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>

{{!-- </div> --}}


