
<div id="settings" class="setting" data-toggle="modal" data-target="#myModal2"><i class="fa fa-cog fa-1x"></i></div>

<div id="budgets" class="budget" data-toggle="modal" data-target="#myModal"> </div>

<!-- Number badge on icon -->
<div class="mdl-badge" data-badge="1"></div>
<div class="notify"><i class="fa fa-bell fa-1x"></i></div>

<div class="menu"><i class="fa fa-bars fa-1x"></i></div>
