
<div class="setting" data-toggle="modal" data-target="#myModal2"><i class="fa fa-cogs fa-1x"></i></div>

<div class="budget" data-toggle="modal" data-target="#myModal"> </div>

<div class="menu"><i class="fa fa-bars fa-1x"></i></div>
