
<div id="settings-tooltip" data-toggle="tooltip" title="Settings"data-placement="bottom"><div id="settings" class="setting" data-toggle="modal" data-target="#myModal2"><i class="fa fa-cog fa-1x"></i></div></div>

<div id="cost-tooltip" data-toggle="tooltip" title="Cost Budget"data-placement="bottom"><div id="budgets" class="budget" data-toggle="modal" data-target="#myModal"> </div></div>

<div id="time-tooltip" data-toggle="tooltip" title="Time Budget"data-placement="bottom"><div id="timeBudgets" class="timeBudgets" data-toggle="modal" data-target="#timeBudgetModal"> </div></div>

<!-- Number badge on icon -->
<div class="mdl-badge" data-badge=""></div>
<div ><div class="notify"data-toggle="tooltip" title="Notifications" data-placement="bottom"><i class="fa fa-bell fa-1x"></i></div></div>

<div class="menu"><i class="fa fa-bars fa-1x"></i></div>

