<div class="title"><h4>IAM Groups</h4></div>
<table id="GroupsTable" class="display">
	<thead>
		<tr class="dark-row">
			<th>GroupName</th>
			<th>CreateDate</th>
			<th>CostBudgetName/s</th>
			<th>TimeBudgetName/s</th>
		</tr>
	</thead>
	<tbody id="instanceData">
	{{#each instances}}
		<tr>
			<td>{{this.name}}</td>
			<td>{{this.createDate}}</td>
			<td>{{this.costBudgetNames}}</td>
			<td>{{this.timeBudgetNames}}</td>
		</tr>
	{{/each}}
	</tbody>	
</table>
