<table id="GroupsTable" class="hover">
	<thead>
		<tr class="dark-row">
			<th>GroupName</th>
			<th>Arn</th>
			<th>CreateDate</th>
			<th>BudgetName</th>
		</tr>
	</thead>
	<tbody id="instanceData">
	{{#each instances}}
		<tr>
			<td >{{this.groupName}}</td>
			<td>{{this.arn}}</td>
			<td>{{this.createDate}}</td>
			<td>{{this.budgetName}}</td>
		</tr>
	{{/each}}
	</tbody>	
</table>
