<div class="rate">Rate: 
	{{#each rate}}
		${{this.value}}/Hour
	{{/each}}
</div>
<div class="usage">Usage:      N/A
{{!-- 	{{#each usage}}
		${{this.value}}
	{{/each}} --}}
</div>

<div class="balance">Balance: N/A

</div>