<div class="rate">Rate: 
	{{#each rate}}
		${{this.value}}/Hour
	{{/each}}
</div>
<div class="usage">Usage: 
	{{#each usage}}
		${{this.value}}
	{{/each}}
</div>

<div class="balance">Balance: $123

</div>