<div class="slider">
{{#each pages}}
<div class="page" page-id="{{this.page_id}}">{{this.title}}</div>

{{#ifCond this.title '==' "Amazon EC2 Service"}}
<div class="subpage" subpage-id="0"> EC2 Instances</div>
{{/ifCond}}

{{#ifCond this.title '==' "Amazon RDS Service"}}
<div class="subpage" subpage-id="1"> RDS Instances</div>
{{/ifCond}}

{{#ifCond this.title '==' "Usage Monitor"}}
<div class="subpage" subpage-id="2"> Cost Budgets</div>
<div class="subpage" subpage-id="3"> Time Budgets</div>
{{/ifCond}}
{{/each}}

</div>