<div class="notification-content"> 
{{#each notifications}}
<div class="notify" id={{this.notification}}>Budget: {{this.notification}} <br> Reason: {{this.notificationType}} <br> Time: {{this.time}}
</div>
{{/each}}
</div>