<!-- <div id="rdsbillingcontainer"></div> -->

<!-- <div>
	<table id="BillingTable" class="tablesorter-metro" cellspacing="1">
		<thead>
			<tr class="dark-row" role="row">

				<th class="tablesorter-header" data-column="2" unselectable="on">
					<div class="tablesorter-header-inner">Resource ID</div>
				</th>
				<th class="tablesorter-header" data-column="0" unselectable="on">
					<div id="time" class="tablesorter-header-inner">Cost</div>
				</th>
				<th class="tablesorter-header" data-column="1" unselectable="on">
					<div class="tablesorter-header-inner">VolumeId</div>
				</th>
						<th class="tablesorter-header" data-column="3" unselectable="on">
					<div class="tablesorter-header-inner">Date</div>
				</th>
			</tr>
			</tr>
		</thead>
		<tbody id="billingData">
		{{#each billing}}
			<tr class="tablesorter-body">
				<td>{{this.resourceId}}</td>
				<td>{{this.cost}}</td>
				<td>{{this.volumeId}}</td>
				<td>{{this.date}}</td>					
			</tr>
		{{/each}}
		</tbody>	
	</table>
</div> -->





