<!-- Modal -->
<div class="modal fade" id="timeBudgetModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create Time Budget Profile <i class="fa fa-question-circle" id ="CreateTimeBudget" data-toggle="tooltip" title="Info here about Time Budgets"></i></h4>
			</div>
			<div class="modal-body">
				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">Name <i class="fa fa-question-circle" id ="TimeBudgetName" data-toggle="tooltip" title="Unique name assigned to this Time Budget"></i></label>
						<input type="text" id="time-budgetname" placeholder="e.g., 'Monthly EC2 Budget'">
					</div>
					<div class="warning" id="time-budgetnamewarning">Invalid budget Name.</div>
					<div class="warning" id="time-oldbudgetnamewarning">Budget Name already in use.</div>
					<div class="warning" id="time-budgetnamerequest">Please enter a budget name.</div>
				</div>

				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">Time budget related to <i class="fa fa-question-circle" id ="TimeBudgetAssociatedTo" data-toggle="tooltip" title="User or group this budget applies to. Once these values are set, they cannot be edited."></i></label>
						<select class="time-costfilter">
							<option value="" disabled selected>Select</option>
							<option value="user">User</option>
							<option value="group">Groups</option>
						</select>
					</div>
				</div>

				<div class="sub-insetting"> 
					<div class="sub-incontainer">
						<div class="hidden" id="time-filter-details">
							<select class="time-sub-costfilter">
								<option value="" disabled selected>Select</option>
								{{#each col}}
								<option value={{this.name}}>{{this.name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
					<div class="warning" id="time-batchtyperequest">Please select a Batch Type.</div>
					<div class="warning" id="time-batchnamerequest">Please select a Batch Name.</div>
				</div>

				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">Start date <i class="fa fa-question-circle" id ="StartDate" data-toggle="tooltip" title="Date when budget begins"></i></label>
						<input type="text" id="time-startdate" placeholder="mm/dd/yyyy">
						<div class="warning" id="time-startdaterequest">Please select a start date.</div>
					</div>
				</div>

				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">End date <i class="fa fa-question-circle" id ="EndDate" data-toggle="tooltip" title="Date of termination for budget"></i></label>
						<input type="text" id="time-enddate" placeholder="mm/dd/yyyy">
						<div class="warning" id="time-enddatewarning">Invalid dates selected.</div>
						<div class="warning" id="time-enddaterequest">Please select an end.</div>
					</div>
				</div>

				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">Time Amount <i class="fa fa-question-circle" id ="TimeAmount" data-toggle="tooltip" title="Number of hours of time in use for instance during budget duration"></i></label>
						<input type="text" id="time-amount" placeholder="Hours">
						<div class="warning" id="time-amountwarning">Invalid time amount.</div>
						<div class="warning" id="time-amountrequest">Please enter a time amount.</div>
					</div>
				</div>

				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">Under-profile Decay Rate <i class="fa fa-question-circle" id ="UnderProfile" data-toggle="tooltip" title="Rate at which hours of usage are consumed when the instance is being used less than what is optimal"></i></label>
						<input type="text" id="time-udecay" placeholder="e.g., 3">
						<div class="warning" id="time-udecaywarning">Invalid decay rate.</div>
						<div class="warning" id="time-udecayrequest">Please enter a decay rate.</div>
					</div>
				</div>

				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">Over-profile Decay Rate <i class="fa fa-question-circle" id ="OverProfile" data-toggle="tooltip" title="Rate at which hours of usage are consumed when the instance is being used more than what is optimal"></i></label>
						<input type="text" id="time-odecay" placeholder="e.g., 2">
						<div class="warning" id="time-odecaywarning">Invalid decay rate.</div>
						<div class="warning" id="time-odecayrequest">Please enter a decay rate.</div>
					</div>
				</div>

				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">Min Database Connections <i class="fa fa-question-circle" id ="minDatabase" data-toggle="tooltip" title="Minimum number of acceptable database connections at a given time"></i></label>
						<input type="text" id="time-minDB" placeholder="e.g., 5">
						<div class="warning" id="time-minDBwarning">Invalid number.</div>
						<div class="warning" id="time-minDBrequest">Please enter a number.</div>
					</div>
				</div>

				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">Max Database Connections <i class="fa fa-question-circle" id ="maxDatabase" data-toggle="tooltip" title="Maximum number of acceptable database connections at a given time"></i></label>
						<input type="text" id="time-maxDB" placeholder="e.g., 50">
						<div class="warning" id="time-maxDBwarning">Invalid number.</div>
						<div class="warning" id="time-maxDBrequest">Please enter a number.</div>
					</div>
				</div>

				<div class="insetting"> 
					<div class="incontainer">
						<label class="budget-label">Stop resource(s) when quota reached <i class="fa fa-question-circle" id ="TimeBudgetStop" data-toggle="tooltip" title="Stop instance when provided time is exceeded?"></i></label>
						<div class="onoffswitch">
							<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="time-myonoffswitch" checked>
							<label class="onoffswitch-label" for="time-myonoffswitch">
								<span class="onoffswitch-inner"></span>
								<span class="onoffswitch-switch"></span>
							</label>
						</div>
					</div>
					
				</div>
			</div>	
			<div class="modal-footer">
			<div class="warning" id="time-batchSelectionWarning">Please be sure to only select a user with an associated instance that has been running for the selected duration.</div>
			<div class="warning" id="time-associationWarning">Something went wrong. Perhaps the selected user or group does not have an instance associated with it. Please be sure to set this association in the AWS Console.</div>
			<div class="warning" id="time-batchNameAndTypeWarning">Please create a budget for a user or group that does not already have a time budget applied to it</div>
				<button type="button" class="btn btn-default" id="time-savebtn">Save</button>
				<button type="button" class="btn btn-default" id="time-closebtn">Close</button>
			</div>
		</div>

	</div>
</div>